*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
background-color: #339999

}

.zodiac-preloader {
    width: 100%;
    height: 100vh;
    display: none;
}

.zodiac-preloader .zodiac-logo{
    width: 100%;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.zodiac-preloader .zodiac-logo img{
    width: 99px;   
    height: 70px;
    display: inline-block;
}



.zodiac-menu {
    width: 100%;
    height: 60px;
    display: block;
    position: fixed;
    top: 20px;
    left: 0;
}

.zodiac-menu ul{
    display: table;
    height: 60px; 
    list-style: none;
    margin: 0 auto;
}

.zodiac-menu ul li{
    height: 60px;
    display: inline-block;
    position: relative;
}

.zodiac-menu ul li:hover:after, .zodiac-menu ul li.zodiac-ativo:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #CCFFCC;
    bottom: 0;
    bottom: -8px;
    left: 0;

}

.zodiac-menu ul li a{
    height: 60px;
    display: block;
    padding: 0 25px;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    color: #CCFFCC;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px;
    text-decoration: none;
}

.zodiac-menu ul li a:hover, .zodiac-menu ul li.zodiac-ativo a{
    color: white;
    font-weight: 800;
}

